nav {
  display: flex;
  align-items: center;

  padding: var(--padding);

  background-color: #000000;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 3;
}

@media (max-width: 374px) {
  nav {
    display: none;
  }
}

@supports (backdrop-filter: blur(0px)) {
  nav {
    background-color: #000000bb;
    backdrop-filter: blur(var(--blur-radius));
  }
}

nav h2 {
  font-size: 1em;
  font-weight: normal;
  flex-grow: 1;
}

nav a {
  color: var(--navigation-link);
  text-decoration: none;
  transition: var(--transition-duration);
  margin-left: calc(var(--padding) * 2);
}

nav a:hover {
  color: var(--navigation-link-changed);
}

